*{
    margin: 0;
    padding: 0;
}
body{
   overflow: hidden;
}

.gameContainer{
   background:url('images/bg.png');
   background-size: 100vw 100vh;
   width: 100%;
   height: 100vh;
}
.man{
    background: url('images/man.png');
    background-repeat: no-repeat;
    width: 86px;
    height: 101px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 47px;
}

.obstacle{
    background:url('images/dragon.png');
    background-repeat: no-repeat;
    width: 140px;
    height: 93px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 43vw; 
}
.gameOver{
    visibility: hidden;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
#scoreCount{
    position: absolute;
    display: inline;
    top: 25px;
    right: 30px;
    border: 3px solid rgb(80, 204, 100);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(243, 240, 243);
    padding: 7px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.animateMan{
    animation: man 0.6s linear;
}

@keyframes man {
    0%{
       bottom: 0;
    }
    50%{
       bottom:420px;
    }
    100%{
        bottom: 0;
    }
}

.obstacleAni{
    animation: obstacleAni 4s linear infinite ;
}

@keyframes obstacleAni{
    0%{
      left:100vw;
    }
    100%{
        left:-10vw;
    }
   
}